@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
/*acordion*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  /*border-radius: 10px;*/
}
body{
  font-family: "Poppins", sans-serif;
}
div.c{
  position: relative;
  margin:1em;
}
input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}
h1{
  background:steelblue;
  background:#333;
  color:white;
  padding:1em;
  position: relative;
}
label::before{
  content:"";
  display: inline-block;
  border: 5px solid transparent;
  border-left:10px solid white;
  
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding:1em;
}
input:checked ~ h1 label::before{
  border-left:10px solid transparent;
  border-top:5px solid white;
  margin-top:5px;
  margin-right:10px;
}
input:checked ~ h1 ~ div.p{
  max-height:700px;
}
a{
  color:steelblue;
}
/*end acordion*/
	
body {
	margin: 0px;
	font-family: "Open Sans", Sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
	letter-spacing: 0.4px;
	font-family: "Open Sans", Sans-serif;
	color: #000;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 23px;
	letter-spacing: 0.2px;
	color: #000;
}

.dark-bg p {
color: #B1B1B1;	
}

a:hover, a:focus, a:active, a.active {
	color: #F03;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
}

::selection {
	text-shadow: none;
	background: #fed136;
}

@media (min-width: 768px) {
	section {
		padding: 150px 0;
	}
}

section {
	padding: 20px 0;
	background-color: #f1f3f4;
	
}

ul {
	padding-left: 0;
	padding-top: 10px;	
}

ul li {
    list-style: none;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #000000;
}

section ul li:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	content: "\f105";
	padding-right: 7px;
	color: #0099ff;
}



.row-0-gutter {
    margin-left: -13px;
    margin-right: -13px;
}

.col-0-gutter {
	padding-left: 0;
	padding-right: 0;
}


.navbar-default {
	background-color: #000;
	border-color: transparent;
	opacity: 0.9;
}
.navbar-default .navbar-brand {
	color: #fff;
	font-family: "Montserrat",sans-serif;
	padding: 0px;
}
.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:active,.navbar-default .navbar-brand.active {
	color: #ff6600
}
.navbar-default .navbar-collapse {
	border-color: rgba(0,0,0,.05)
}
.navbar-default .navbar-toggle {
	background-color: #fed136;
	border-color: #fed136
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color: #fed136
}
.navbar-default .nav li a {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	color:#FFF;
}
.navbar-default .nav li a:hover,.navbar-default .nav li a:focus {
	color: #fed136;
	outline: 0
}

.navbar-default .navbar-nav>.active>a {
	border-radius: 0;
	color: #fff;
	background-color: #fed136
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #ff6600
}

@media (min-width:768px) {
	.navbar-default
	{
		background-color: rgba(0, 0, 0, 0.5);
		padding: 5px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}
	.navbar-default .navbar-brand {
		font-size: 2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.active>a {
		border-radius: 3px
	}
	.navbar-default.navbar-shrink {
		background-color: #000;
		border-bottom: 1px solid #828282;
		padding: 5px 0
	}
	.navbar-default.navbar-shrink .navbar-brand {
		font-size: 1.5em;
		margin-top: 10px;
	}
}


header {
	background-image: url(../images/bg1.webp);
	background-color:#000;
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #FFF;
	background-color: #000;
}

header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
}

@media (min-width: 768px) {
	header .intro-text {
		padding-top: 230px;
		padding-bottom: 400px;
    }
}

header .intro-text .intro-lead-in {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.65);
	margin-bottom: 25px;
	padding: 4px 20px;
	font-family: "Open Sans",sans-serif;
	font-size: 19px;
	color: #3E3E3E;
	font-weight: 300;
	line-height: 40px;
}

@media (min-width: 768px) {
	header .intro-text .intro-lead-in {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 45px;
	}
}

header .intro-text .intro-heading {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 25px;
	letter-spacing: -3px;
	word-spacing: 10px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

@media (min-width: 768px) {
	header .intro-text .intro-heading {
		line-height: 95px;
		font-size: 77px;
		margin-bottom: 50px;
	}
}

header2 {
	background-image: url(../images/ferro/bg-sanza.jpg);
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
}

header2 .intro-text {
	padding-top: 100px;
	padding-bottom: 50px;
}

@media (min-width: 768px) {
	header2 .intro-text {
		padding-top: 230px;
		padding-bottom: 400px;
    }
}

header2 .intro-text .intro-lead-in {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.65);
	margin-bottom: 25px;
	padding: 4px 20px;
	font-family: "Open Sans",sans-serif;
	font-size: 19px;
	color: #3E3E3E;
	font-weight: 300;
	line-height: 40px;
}

@media (min-width: 768px) {
	header2 .intro-text .intro-lead-in {
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 45px;
	}
}

header2 .intro-text .intro-heading {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 25px;
	letter-spacing: -3px;
	word-spacing: 10px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

@media (min-width: 768px) {
	header2 .intro-text .intro-heading {
		line-height: 95px;
		font-size: 77px;
		margin-bottom: 50px;
	}
}

.section-title h2 {
	font-size: 34px;
	text-transform: uppercase;
	color: #000;
	font-weight: 800;
	letter-spacing: -0.6px;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.section-title h2:after {
	left: 50%;
	z-index: 1;
	width: 40px;
	height: 2px;
	content: " ";
	bottom: -5px;
	margin-left: -20px;
	text-align: center;
	position: absolute;
	background: #0099ff;
}

.dark-bg .section-title h2 {
	color: #09F;
}

.section-title p {
	font-size: 24px;
	font-weight: 300;
	line-height: 25px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 60px;
	margin-left: 10px;
}

.mz-module-about h3 {
	font-weight: 500;
	font-size: 19px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.dark-bg .mz-module-about h3 {
	color: #FFFFFF;
}

.mz-module-about p {
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	color: #000;
}

.ot-circle {
	height: 95px;
	width: 95px;
	text-align: center;
	line-height: 98px;
	color: #FFFFFF;
	border-radius: 5px;
	background-color: #09F;
	margin: 0 2px 4px;
	font-size: 40px;
}


.section-text h3 {
	margin: 0 0 30px;
	font-weight: 800;
	color: #5D5D5D;
}

.section-text h4 {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 17px;
}

.dark-bg .section-text h3 {
	color: #dfdfdf;
}

.dark-bg .section-text h4 {
	color: #dfdfdf;
}


figure {
	position: relative;
	overflow: hidden;
	margin: 0 1px 1px 0;
	background: #726FB9;
	text-align: center;
	cursor: pointer;	
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

.ot-portfolio-item figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
	position: absolute;
	top: -7px;
	left: 13px;
	width: 100%;
	height: 100%;
}

figure.effect-bubba {
	background: #000;
	margin-bottom: 1px;
}

figure.effect-bubba img {	
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	/*border-bottom: 1px solid #fff;*/
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	/*border-right: 1px solid #fff;*/
	/*border-left: 1px solid #fff;*/
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	opacity: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.light-bg /*{background:url(../images/ferro/banner3.jpg);
{*/
	{background-color: #fff;
	color: #000;
}
   
	
 
.dark-bg {
	background-color: #000;
	color: #fff;
}

.short-section {
	border-top: 1px solid #5D5D5F;
	border-bottom: 1px solid #5D5D5F;
	padding-top: 70px;
	padding-bottom: 70px;
}

.counter-item h2 {
	color: #fff;
	font-size: 60px;
	font-weight: 900;
}

.counter-item h6 {
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0 0 0;
	text-transform: uppercase;
}


.owl-portfolio .owl-controls {
	position: absolute;
	left: 0;
	top: 38%;
	width: 100%;	
}

.owl-portfolio .owl-controls .owl-nav [class*=owl-] {
	padding: 8px 17px;
	background: rgba(0, 0, 0, 0.18);
	border-radius: 0;
	margin: 0;
	font-size: 20px;
	z-index:1000;
}

.owl-portfolio .owl-controls .owl-nav [class*=owl-]:hover {
    background: #FC0;
    color: #fff;
    text-decoration: none;
}

.owl-portfolio .owl-controls .owl-prev {
	float: left;
}

.owl-portfolio .owl-controls .owl-next {
	float: right;
}

.owl-portfolio-item {
	text-align: center;
	display: inline-block;
}

.partner-logo {
	height: 80px;
	text-align: center;
	display: inline-block;
}

.partner-logo img {
	height: 100%;
	width: auto !important;
}

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0099ff;
}

.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 5px;
    margin: 15px 7px 0 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #0099ff;
}


.team-item {
	text-align: center;
	background-color: #fff;
}

.team-item h3 {
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	color: #2D2D2D;
}

.team-item .team-position {
	color: #989898;
	font-size: 12px;
	margin: 15px 0 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.team-item p {
    font-size: 13px;
    font-weight: 400;
    color: #292929;
    padding: 5px 10px 20px 10px;
}


section#contact form {
	margin-top: 15px;
}
section#contact.form-group {
margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
	padding: 15px;
	border: 1px solid #BBBBBB;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	font-size: 13px;
}

.contact h3 {
	margin-bottom: 30px;
}

.contact p {
	font-size: 13px;
}

.contact .day {
	display: inline-block;
	width: 80px;
}

.contact i {
	margin-right: 5px;
}

footer {
	padding: 30px;
	background-color: #000;	
}

footer p {
	color: #B7B7B7;
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.6px;
}

footer p a {
	color: #fff;
}

footer p a span {
	color: #0099ff;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: 700;
}


.modal-content {
	border-radius: 0;	
}
.modal-header .close {
	font-size: 30px;	
}
.modal-title {	
	text-transform: uppercase;
	font-size: 23px;
}

.modal-body {
	padding: 0;
}

.modal-body p {
	margin: 30px 20px;
	color: #2D2D2D;		
}

.modal-works {
font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	margin: 25px 20px;
}

.modal-works span {
	background-color: #FED136;
	margin-right: 15px;
	padding: 5px 10px;
}

--------------------*/

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
	color: #fff;
	background-color: #ff6600;
	border-color: #f6bf01;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
	color: #fff;
	background-color: #06F;
	border-color: #09F;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #0099ff;
	border-radius: 5;
}

.btn-xl {
	color: #FFF;
	background-color: #0CF;
	font-family: "Open Sans",sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 5;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 17px 45px;
	margin:5px;
}

#back-top {
	position: fixed;
	z-index: 1000;
	bottom: 40px;
	right: 50px;
}
#back-top a {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	background: #A9A9B1;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	background: #fed136;
}

#back-top i {
	margin-top: 15px;
	font-size: 28px;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
#back-top {
	position: fixed;
	bottom: 10px;
	right: 30px;
}
#back-top a {
	width: 40px;
	height: 40px;
}
#back-top i {
	margin-top: 7px;
	font-size: 20px;
}
}
/* sold*/
.main-w3l {
    width:100%;
}
.main {
    width: 40%;
    margin: 0 auto;
    float: left;
    text-align: left;
    padding: 3.7em 4em;
    background: rgba(19, 18, 18, 0.72);
}
.banner-right-agile {
	background: rgb(191, 219, 57);
	width: 50%;
	float: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 32px;
	padding-right: 20px;
	padding-bottom: 32px;
	padding-left: 20px;
}
.banner-right-agile select {
    border: 1px solid rgb(191, 219, 57);
    color: #5A5A5A;
    display: block;
    font-size: 14px;
    padding: 10px;
	font-weight: normal;
    width: 100%;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all.4s;
    -moz-transition: all.4s;
    -ms-transition: all.4s;
    -o-transition: all.4s;
    transition: all.4s;
}
.banner-right-agile form input[type="text"], input[type="date"], input[type="password"] {
    border:1px solid rgb(191, 219, 57);
    outline: none;
    padding: 10px;
    width: 100%;
    color: #5A5A5A;
    font-size: 14px;
    margin-bottom: 22px;
	font-family: 'Play', sans-serif;
}
.banner-right-agile input[type="submit"] {
    outline: none;
    border: none;
    width: 45%;
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 12px 0px;
    cursor: pointer;
    text-transform: uppercase;
	margin-top: 0.9em;
    letter-spacing: 1px;
	font-family: 'Play', sans-serif;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.banner-right-agile input[type="submit"]:hover {
    color: #ff0000;
}
.main-row label {
    display: block;
}
label.input{
    margin-bottom: 22px;
}
.main h6 {
    font-size: 1.5em;
    color: #fff;
    line-height: 1.9em;
    letter-spacing: 1px;
}
.main p {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.9em;
    letter-spacing: 1px;
    margin-top: 1.5em;
	font-weight: 100;
}
.grid-icons ul li {
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    margin: 1em 0em;
	font-family: 'Play', sans-serif;
}
.grid-icons i {
    font-size: 1.7em;
    padding-right: 1em;
    color: rgba(9, 211, 230, 0.95);
}
.grid-icons {
    margin-top: 2em;
}
.banner-text h3 {
    margin-bottom: 0.5em;
	text-transform: capitalize;
}
option {
    background: #ff0000;
    color: #fff;
}
/*grad-----*/
.grad {
background: #ffea00;
background: -moz-linear-gradient(45deg, #ffea00 0%, #ff0000 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffea00), color-stop(100%, #ff0000));
background: -webkit-linear-gradient(45deg, #ffea00 0%, #ff0000 100%);
background: -o-linear-gradient(45deg, #ffea00 0%, #ff0000 100%);
background: -ms-linear-gradient(45deg, #ffea00 0%, #ff0000 100%);
background: linear-gradient(45deg, #ffea00 0%, #ff0000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#ff0000', GradientType=1 );
}
